.cadet-image-holder img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.active {
    background-color: #225470;
    color: #fff;
}
